@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #113F60;
  color: #5D5A63;
  font-family: 'Emilys Candy', cursive;
}

#hog-crest {
  display: flex;
  margin: auto;
  width: 300px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

h1,
h2 {
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: 'Emilys Candy', cursive;
  color: #BDB7B7;
}

label {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

table {
  display: flex;
  width: 100%;
  background-image: url(img/stack-of-paper.png);
  background-repeat: no-repeat;
  align-self: start;

}

tbody {
  width: 80%;
  height: 700px;
}

[data-action] {
  cursor: pointer;
}


#list tbody tr td {
  padding: 4px;

}

#list tbody tr:nth-child(even) td {

  border-right: rgb(171, 219, 252) 1px dotted;
}


/* MODAL STYLING */

#modal {
  display: none;
  position: fixed;
  background-color: #b0344f;
  top: 150px;
  color: #BB8E6D;
  font-size: 20px;
  margin: 20vh 35vw;
  width: 25vw;
  height: 300px;
  padding: 50px;

  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(99, 98, 98, 0.1),
      0 0 0 2px rgb(226, 226, 226),
      0.3em 0.3em 2em rgba(165, 165, 165, 0.3);
}

.close {
  width: 15%;
  align-content: flex-end;
}



button {
  padding: 5px;
  border-radius: 5px;
  font-family: 'Emilys Candy', cursive;
  background-color: #5d5a6370;
  color: #BDB7B7;
  font-size: 12px;
}

.hide {
  display: none;
}


